/* ---------- 로그인 컨테이너 ---------- */

.login-container {
  display: flex;
  flex-direction: column;   /* 세로로 배치 */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 100px; /* 헤더와의 거리 */
}

/* LOGIN 제목 */
.login-container p {
  font-size: 50px;
  margin-bottom: 30px;
  color: #292828;
}

/* 입력 필드 */
.login-form {
  width: 350px; /* 입력창이 너무 넓지 않게 고정 */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

.login-form input::placeholder {
  color: #aaa;
}

/* 로그인 버튼 */
.login-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #21e070;
  color: rgb(2,2,2);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #1eb65d;
  color: #fff;
}

/* 아이디/비밀번호 찾기, 회원가입 링크 */
.login-links {
  margin-top: 15px;
  font-size: 15px;
}

.login-links a {
  color: #333;
  text-decoration: none;
  margin: 0 5px;
}

.login-links a:hover {
  text-decoration: underline;
}