/*-----------기본 공통------------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #eeede2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* a 태그 디자인 */
/* a {
  color: black;
  text-decoration: none;
} */

/*////  header.php  ////*/
/* 헤더 전체 */
.header{
  position: fixed; /* 항상 화면 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #bace8c;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 다른 요소보다 위에 보이게 */
}

/* 로고 이미지 크기 */
.logo img {
   margin-right: 330px; /* 로고와 카테고리 사이 간격 */
}

/* 카테고리 */
.nav-categories {
  display: flex;
  gap: 40px;
}

.nav-categories a {
  text-decoration: none;
  color: #333;
  font-size: 23px;
  font-weight: 500;
}

.nav-categories a:hover {   /*선택 시 색상 변화*/
  color: #ffffff;
}


/* 오른쪽 아이콘과 Login 버튼 */
.nav-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-icons .icon {
  height: 28px;
  margin-left: 20px;
  cursor: pointer;
}

.nav-icons .login-text {
  margin-left: 20px;
  margin-right: 50px;
  text-decoration: none;
  color: #333;
  font-size: 23px;
  font-weight: bold;
}

.nav-icons .login-text:hover {    /*선택 시 색상 변화*/
  color: #ffffff;
}

/*////  login.php  ////*/
/* 로그인 전체 중앙 배치 */
.login-container {
  display: flex;
  flex-direction: column;   /* 세로로 배치 */
  align-items: center;
  box-sizing: border-box;
  margin-top: -60px; /* 헤더와 LOGIN 사이 */
}

/* LOGIN 제목 */
.login-container p {
  font-size: 50px;
  margin-bottom: 30px;
  color: #292828;
  text-align: center;
}

/* 입력 필드 */
.login-form {
  width: 350px; /* 입력창이 너무 넓지 않게 고정 */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

.login-form input::placeholder {
  color: #aaa;
}

/* 로그인 버튼 */
.login-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #21e070f3;
  color: rgb(2, 2, 2);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #1eb65d;
  color: rgb(241, 241, 241);
}

/* 로그인 하단 */
.login-links {
  margin-top: 15px;
  font-size: 16px;
}

.login-links a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

.login-links a:hover {
  text-decoration: underline; /* 마우스 올리면 밑줄 */
}